<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>📌 Tasks</h1>

<form method="POST">
  <input type="text" name="task" placeholder="New Task" required>
  <button>Add</button>
</form>

<div class="cards">
  {% for t in tasks %}
  <div class="card">
    <b>{{ t[2] }}</b><br>
    Status: {{ t[3] }}<br><br>
    <a href="/done/{{ t[0] }}">✅</a>
    <a href="/delete/{{ t[0] }}">❌</a>
  </div>
  {% endfor %}
</div>
<!-- FOOTER -->
<footer>
    <p>© 2026 Sagar Karosiya | Portfolio</p>
</footer>
</body>
</html>